<% if @ice_cream.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@ice_cream.errors.count, "Error") %>
      prevented this ice cream from being saved
    </h2>
    <ul>
      <% @ice_cream.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @ice_cream do |f| %>
  <%= f.label :receipient %>
  <%= f.text_field :receipient %><br>

  <%= f.label :flavor %>
  <%= f.text_field :flavor %><br>

  <%= f.collection_check_boxes :topping_ids, Topping.all, :id, :name %><br><br>

  <div>New Topping:</div>
  <%= f.fields_for :toppings, @ice_cream.toppings.build do |topping_fields| %>
    <%= topping_fields.label :name %>
    <%= topping_fields.text_field :name %><br>
  <% end %>

  <%= f.submit %>
<% end %>